// Variables
@import '../variables';

.cover {
    position: relative;

    &__block {
        position: absolute;
        bottom: 2rem;
        width: 50%;
    }

    &__background {
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__image {
        border: .25rem solid #fff;
    }

    &__block-name {
        position: relative;
        height: 100%;
    }

    &__artist-name {
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 1.5rem;
    }
}

.profile {
    &__title-about,
    &__title-songs {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: $secondary-color;
    }

    .top-songs {
        padding: 0;
        margin: 0;
        list-style-type: none;

        .item__index {
            width: 2rem;
        }
    }
}

@media(max-width: 576px) {
    .cover {
        &__block {
            position: relative;
            width: 100%;
            padding-top: 13rem;
            text-align: center;
        }

        &__image {
            width: 50%;
        }

        &__artist-name {
            position: relative;
            margin-top: 1rem;
        }
    }
}